<html ng-app="myApp">
   <head>
              <script src="https://code.angularjs.org/latest/angular.min.js"></script>
 <style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
     .head1{
        border-collapse: collapse;
         width: 100%; 
         background-color: #4CAF50;
         color: white; 
     }
</style>
       
  </head>
    
<body>
    <div class="head1"><h1>First web Page</h1></div>
    <div ng-controller="myCtrl">
       Rows To Display: <input type="number" step="1" min="0" max="25" ng-model="rowLimt"/>
        <hr/>
    <table>
     <thead>
        <th>Name</th>
         <th>Date Of Birth</th>
         <th>Gender</th>
         <th>Salary(Number)</th>
         <th>Salary(Currency>
        
   </thead>        
        <tbody>
          <tr ng-repeat="emp in employies|limitTo:rowLimt">
              <td>{{emp.name | uppercase}}</td>
               <td>{{emp.DateOfBirth | date:"dd/MM/yyyy"}}</td>
               <td>{{emp.gender | lowercase}}</td>
               <td>{{emp.salary | number:1}}</td>
               <td>{{emp.salary | currency}}</td>
                          
            
            
          </tr>
        
        
        
        
        </tbody>
        
        
        
        
        
        
        
</table>
    <hr/>
    
    
    </div>
    <div class="head1"><h1 align="center">copyright © 2010 - 2017 </h1></div> 
</body>
<script>
   var app=angular
                .module("myApp",[])
                .controller("myCtrl",function($scope){
                    var  employies=[{name:"Sudama",DateOfBirth:new Date("July 08,1989"),gender:"Male",salary:1000.10},
                                    {name:"Deep",DateOfBirth:new Date("June 08,1999"),gender:"Female",salary:10005.},
                                    {name:"shivam",DateOfBirth:new Date("January 08,1989"),gender:"Male",salary:1000.},
                                    {name:"Vidyut",DateOfBirth:new Date("July 08,2000"),gender:"Male",salary:1000.10},
                                    {name:"Tapis",DateOfBirth:new Date("February 08,1989"),gender:"Male",salary:1000.10},
                                    {name:"Deep",DateOfBirth:new Date("June 08,1999"),gender:"Female",salary:10005.},
                                    {name:"shivam",DateOfBirth:new Date("January 08,1989"),gender:"Male",salary:1000.},
                                    {name:"Vidyut",DateOfBirth:new Date("July 08,2000"),gender:"Male",salary:1000.10},
                                    {name:"Tapis",DateOfBirth:new Date("February 08,1989"),gender:"Male",salary:1000.10},
                                    {name:"Deep",DateOfBirth:new Date("June 08,1999"),gender:"Female",salary:10005.},
                                    {name:"shivam",DateOfBirth:new Date("January 08,1989"),gender:"Male",salary:1000.},
                                    {name:"Vidyut",DateOfBirth:new Date("July 08,2000"),gender:"Male",salary:1000.10},
                                    {name:"Tapis",DateOfBirth:new Date("February 08,1989"),gender:"Male",salary:1000.10},
                                    {name:"Deep",DateOfBirth:new Date("June 08,1999"),gender:"Female",salary:10005.},
                                    {name:"shivam",DateOfBirth:new Date("January 08,1989"),gender:"Male",salary:1000.},
                                    {name:"Vidyut",DateOfBirth:new Date("July 08,2000"),gender:"Male",salary:1000.10},
                                    {name:"Tapis",DateOfBirth:new Date("February 08,1989"),gender:"Male",salary:1000.10}



                                   ];
                    
                    
                       $scope.employies=employies;
                       $scope.rowLimt=10;
                });
</script>
</html>